html {
  background-color: #f3f4f6;
}

input {
  border: #6b7280 solid 1px;
}

a:hover {
  color: inherit;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .nav-name {
    display: none;
  }
}

.farms-input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 30px 0 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .farms-input {
    font-size: 14px;
  }
}

.dashboard-container {
  max-width: 1280px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px 32px;
}

.dashboard-container > * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: white;
  border-radius: 20px;
  padding: 10px 25px 120px 25px;
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
          box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
  position: relative;
}

.dashboard-container h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-container .button {
  width: calc(100% - 50px);
  background-color: #477e00;
  color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  display: block;
}

.dashboard-container .button:hover {
  background-color: #5b9200;
}

.dashboard-container .button.more {
  background-color: #4294ff;
  bottom: 60px;
  font-size: 18px;
  color: white;
  width: 200px;
  margin: 0 0 0 auto;
  left: 0;
  right: 25px;
}

.dashboard-container .button.more--down {
  bottom: 20px;
}

.dashboard-container .button.more:hover {
  background-color: #56a8ff;
}

.dashboard-container ol {
  list-style: decimal;
  list-style-position: inside;
}

.dashboard-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard-container .date {
  float: right;
  opacity: 0.8;
}

.dashboard-container .magazine {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.dashboard-container .magazine li {
  margin-top: 20px;
}

.dashboard-container .magazine .bar {
  height: 30px;
}

.dashboard-container .magazine .bar--green {
  background-color: #00c700;
}

.dashboard-container .magazine .bar--orange {
  background-color: orange;
}

.dashboard-container .magazine .bar--red {
  background-color: red;
}

.dashboard-container .calendar {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.dashboard-container .procedure-name {
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .dashboard-container > * {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 4 !important;
  }
}

@media screen and (max-width: 600px) {
  .dashboard-container {
    font-size: 14px;
    padding: 0 5%;
  }
  .dashboard-container > * {
    padding: 10px 10px 120px 10px;
  }
  .dashboard-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .dashboard-container .button {
    left: 0;
    right: 0;
    margin: auto;
  }
  .dashboard-container .button.more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 15px;
    font-size: 16px;
    line-height: 25px;
  }
}

.create-container {
  max-width: 1280px;
  margin: auto;
  padding: 50px 32px;
}

.create-container .content {
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
          box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

.create-container h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.create-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 5px;
}

.create-container .info-text {
  margin-top: 30px;
  margin-bottom: 5px;
}

.create-container .input-name {
  width: 500px;
  margin-right: 40px;
}

.create-container .input-number {
  width: 400px;
  margin-right: 21px;
}

.create-container .input-area {
  width: 75px;
  margin-right: 10px;
}

.create-container .input-crops {
  margin-top: 30px;
  width: 500px;
}

.create-container .input-field {
  width: 500px;
  display: block;
}

.create-container .input-protection {
  width: 500px;
  display: block;
}

.create-container .input-protection--first {
  margin-right: 40px;
}

.create-container .input-farm {
  margin-top: 30px;
  width: 500px;
  display: block;
}

.create-container .input-data {
  width: 500px;
  display: block;
  margin-right: 40px;
}

.create-container button {
  width: 500px;
  background-color: #477e00;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  display: block;
  margin-top: 30px;
}

.create-container button:hover {
  background-color: #5b9200;
}

.create-container button.submit {
  font-size: 24px;
}

.create-container button.remove-button {
  width: auto;
  margin: 0 !important;
  background: none;
}

.create-container button.remove-button:hover {
  color: red;
  -webkit-transform: none;
          transform: none;
}

.create-container form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.create-container .product {
  margin-bottom: 40px;
}

.create-container .product:last-of-type {
  margin: 0;
}

.create-container .product .info-text {
  margin-top: 10px;
}

.create-container .parcel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-container .parcel--first {
  margin-right: 40px;
  margin-bottom: 35px;
}

.create-container .removable-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.create-container .removable-input-container--first svg {
  visibility: hidden;
}

.create-container .removable-input-container--products {
  margin-bottom: 40px;
  display: block !important;
}

.create-container .removable-input-container svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  min-width: 40px;
  padding: 5px;
}

@media screen and (max-width: 720px) {
  .create-container {
    padding: 0 5%;
  }
  .create-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .create-container .content {
    padding: 30px;
  }
  .create-container .input-name {
    min-width: 150px;
    width: calc(100% - 40px);
  }
  .create-container .input-number {
    min-width: 150px;
    width: 100%;
  }
  .create-container .input-area {
    min-width: 100px;
    margin-top: 10px;
  }
  .create-container .input-crops {
    margin-top: 30px;
    min-width: 150px;
    width: 100%;
  }
  .create-container .input-field {
    min-width: 150px;
    width: 100%;
  }
  .create-container .input-protection {
    min-width: 150px;
    width: 100%;
    width: calc(100% - 40px) !important;
  }
  .create-container .input-farm {
    min-width: 150px;
    width: 100%;
  }
  .create-container .input-data {
    min-width: 150px;
    width: calc(100% - 40px);
  }
  .create-container button {
    width: 100%;
  }
  .create-container form {
    width: 100%;
  }
}

.create-container.practise button {
  margin: 20px 0 40px 0;
}

.create-container.practise button.submit {
  margin-top: 40px;
}

.create-container.practise input[type="number"] {
  padding: 0 5px;
  margin-left: 10px;
  width: 75px;
}

.create-container.field button {
  margin: 20px 0 10px 0;
}

.create-container.field button.submit {
  margin-top: 40px;
}

.wrapper {
  max-width: 1280px;
  margin: 50px auto 50px auto;
  padding: 0 32px;
}

.wrapper .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.wrapper .field > * {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-width: 225px;
}

.wrapper .content {
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
          box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

@media screen and (max-width: 719px) {
  .wrapper .content {
    padding: 30px;
  }
}

.wrapper h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .field-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 40px;
  margin-top: 20px;
  margin: 0 auto 20px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .field-icons-container h1 {
  margin: 0;
}

.wrapper .field-icons-container svg {
  width: 40px;
  height: 40px;
}

.wrapper .field-icons-container button:hover {
  color: red;
}

.wrapper .field-icons-container a:hover {
  color: #00a2ff;
}

.welcome {
  font-size: 20px;
  text-align: center;
}

.welcome img {
  margin: auto;
}

.welcome .button {
  background-color: #477e00;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.welcome .button:hover {
  background-color: #5b9200;
}

.welcome p {
  margin-bottom: 40px;
}

.welcome .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin: 20px 0;
}
/*# sourceMappingURL=styles.css.map */