input {
  border: #6b7280 solid 1px;
}

a:hover {
  color: inherit;
}

button:focus {
  outline: none;
}

.flex {
  display: flex;
}

.nav-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.farms-input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 30px 0 5px;
  height: fit-content;
  align-self: center;
  width: fit-content;
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.dashboard-container {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px 32px;

  > * {
    box-sizing: content-box;
    background-color: white;
    border-radius: 20px;
    padding: 10px 25px 120px 25px;
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
    position: relative;
  }

  h2 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  .button {
    width: calc(100% - 50px);
    background-color: rgb(243, 244, 246);
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    display: block;

    &:hover {
      transform: scale(102%);
    }

    &.more {
      background-color: rgb(66, 148, 255);
      bottom: 60px;
      font-size: 18px;
      color: white;
      width: 200px;
      margin: 0 0 0 auto;
      left: 0;
      right: 25px;

      &--down {
        bottom: 20px;
      }
    }
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .date {
    float: right;
    opacity: 0.8;
  }

  .magazine {
    grid-column-start: 1;
    grid-column-end: 3;

    li {
      margin-top: 20px;
    }

    .bar {
      height: 30px;

      &--green {
        background-color: rgb(0, 199, 0);
      }

      &--orange {
        background-color: orange;
      }

      &--red {
        background-color: red;
      }
    }
  }

  .calendar {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .procedure-name {
    margin-right: 5px;
  }

  @media screen and (max-width: 1200px) {
    > * {
      grid-column-start: 1 !important;
      grid-column-end: 4 !important;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
    padding: 0 5%;

    > * {
      padding: 10px 10px 120px 10px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .button {
      left: 0;
      right: 0;
      margin: auto;

      &.more {
        width: fit-content;
        padding: 0 15px;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

.create-container {
  max-width: 1280px;
  margin: auto;
  padding: 50px 32px;

  .content {
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .info-text {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .input {
    &-name {
      width: 500px;
      margin-right: 40px;
    }

    &-number {
      width: 400px;
      margin-right: 21px;
    }

    &-area {
      width: 75px;
      margin-right: 10px;
    }

    &-crops {
      margin-top: 30px;
      width: 500px;
    }

    &-field {
      width: 500px;
      display: block;
    }

    &-protection {
      width: 500px;
      display: block;
      &--first {
        margin-right: 40px;
      }
    }

    &-farm {
      margin-top: 30px;
      width: 500px;
      display: block;
    }

    &-data {
      width: 500px;
      display: block;
      margin-right: 40px;
    }
  }

  button {
    width: 500px;
    background-color: rgb(243, 244, 246);
    border-radius: 20px;
    font-size: 20px;
    display: block;
    margin-top: 30px;

    &:hover {
      transform: scale(105%);
    }

    &.submit {
      font-size: 24px;
    }

    &.remove-button {
      width: auto;
      margin: 0 !important;
      background: none;

      &:hover {
        color: red;
        transform: none;
      }
    }
  }

  form {
    width: fit-content;
    margin: auto;
  }

  .product {
    margin-bottom: 40px;

    &:last-of-type {
      margin: 0;
    }

    .info-text {
      margin-top: 10px;
    }
  }

  .parcel {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    &--first {
      margin-right: 40px;
      margin-bottom: 35px;
    }
  }

  .removable-input-container {
    display: flex;
    margin-bottom: 15px;

    &--first {
      svg {
        visibility: hidden;
      }
    }

    &--products {
      margin-bottom: 40px;
      display: block !important;
    }

    svg {
      align-self: center;
      height: 40px;
      min-width: 40px;
      padding: 5px;
    }
  }

  @media screen and (max-width: 720px) {
    padding: 0 5%;
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .content {
      padding: 30px;
    }

    .input {
      &-name {
        min-width: 150px;
        width: calc(100% - 40px);
      }

      &-number {
        min-width: 150px;
        width: 100%;
      }

      &-area {
        min-width: 100px;
        margin-top: 10px;
      }

      &-crops {
        margin-top: 30px;
        min-width: 150px;
        width: 100%;
      }

      &-field {
        min-width: 150px;
        width: 100%;
      }

      &-protection {
        min-width: 150px;
        width: 100%;
        width: calc(100% - 40px) !important;
      }

      &-farm {
        min-width: 150px;
        width: 100%;
      }

      &-data {
        min-width: 150px;
        width: calc(100% - 40px);
      }
    }

    button {
      width: 100%;
    }

    form {
      width: 100%;
    }
  }

  &.practise {
    button {
      margin: 20px 0 40px 0;

      &.submit {
        margin-top: 40px;
      }
    }

    input[type="number"] {
      padding: 0 5px;
      margin-left: 10px;
      width: 75px;
    }
  }

  &.field {
    button {
      margin: 20px 0 10px 0;

      &.submit {
        margin-top: 40px;
      }
    }
  }
}

.wrapper {
  max-width: 1280px;
  margin: 50px auto 50px auto;
  padding: 0 32px;

  .field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .field > * {
    flex-basis: 25%;
    min-width: 225px;
  }

  .content {
    box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.41);
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 40px;

    @media screen and (max-width: 719px) {
        padding: 30px;
    }
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

}
